{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

  <!--Code tu template-->
  <br>
  <h6 class="log-sign-title mb-25 blue-color text-center h1">
    Je crée mon compte Azobe
    <i class="fa fa-edit blue-color" aria-hidden="true"></i>
  </h6>
  <div class="row">
    <div class="mx-auto">
      <div class="ts-grid-box" id="ts-grid-box">
        {{ form_start(registrationForm) }}
        <p class="text-left pt-2 pb-1 blue-color">Tous les champs sont obligatoires (*)</p>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title log-sign-title mb-25 blue-color text-center">Informations liées au représentant légal</h5>
            <!--Zone où j'insère les champs du formulaire-->

            <!--Nom et Prénom du représentant.-->
            <div class="form-row">
              <div class="form-group col-md-6">
                {{ form_row(registrationForm.lastname, {'label':'Nom (*)'}) }}
              </div>
              <div class="form-group col-md-6">
                {{form_row(registrationForm.firstname, {'label':'Prénom (*)'})}}
              </div>
            </div>
            <!--Email1 et Email 2-->
            <div class="form-row">
              <div class="form-group col-lg">
                {{ form_row(registrationForm.email,{'label':'Email 1 (*)'}) }}
              </div>
            </div>
            <!--Password-->
            <div class="form-row">
              <div class="col-md">
                {{ form_row(registrationForm.plainPassword,{'label':'Mot de passe (*)'}) }}
              </div>
            </div>
            <div class="form-group text-center">
              <div class="maxl">
                <label class="radio inline ml-5">
                  {{ form_row(registrationForm.agreeTerms) }}
                  <!-- checked -->
                  <span class="inscription_terms">
                    J'ai lu et j'accepte
                    <a href="{{path('cgu_conditions')}}" target="_blank">les Conditions Générales d'Utilisation</a>
                    et
                    <a href="{{path('cgu_conditions')}}" target="_blank">la Politique de Protection des Données Personnelles.</a>
                  </span>
                </label>
              </div>
            </div>
            <div class="form-group text-center links">
              <button type="submit" class="btn btn-primary">
                S'inscrire à l'annuaire
              </button>
            </div>
            {{ form_end(registrationForm) }}

            <div class="border-top card-body text-center inscription_term ">Avez-vous déjà un compte?
              <a href="{{path('app_login')}}" class="blue-color">Se connecter</a>
            </div>
          </div>
        </div>
      </div>
      <!-- grid box end -->
    </div>
  </div>

  {% block script %}
    <script src="/assets/js/jquery-3.6.0.min.js"></script>
    <script>
      {# $(document).ready(function () {
        $("#registration_form_statut_juridique").change(function () {
          $("#autre-statut-container").show();
        });
      }) #}
    </script>
    

  {% endblock %}
{% endblock %}
