<div class="header-area ">
	<!-- top bar start -->
	<section class="top-bar">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 align-self-center md-center-item">
					<div class="ts-temperature">
						<i class="icon-weather"></i>
						<span>25.8
							<b>c</b>
						</span>
						<span>Libreville</span>

					</div>

					<ul class="ts-top-nav">
						<li>
							<a href="recrutement.html">Recrutement</a>
						</li>
						<li>
							<a href="enconstruction.html">Contact</a>
						</li>
						<li>
							<a href="archives.html">Archives</a>
						</li>
						<li>
							<a href="faq.html">FAQ</a>
						</li>
					</ul>

				</div>
				<!-- end col-->

				<div
					class="col-md-6 text-right align-self-center">
					<!-- social-->
					<ul class="top-social">
						<li>
							<a href="https://www.facebook.com/Azobe.CRSC/" target="_blank">
								<i class="fa fa-facebook-f"></i>
							</a>
						</li>
						<li>
							<a href="https://www.instagram.com/azobe.crsc/?fbclid=IwAR1TYF7zhX_nHjLzvzPrIHshYs_SzFxhd3O1AWavv_LBYaBaCXnKOoucT8c" target="_blank">
								<i class="fa fa-instagram"></i>
							</a>
						</li>
						<li>
							<a href="https://twitter.com/AzobeCrsc" target="_blank">
								<i class="fa fa-twitter"></i>
							</a>
						</li>
						<li title="">
							<a href="mailto:azobe@institutfrancais-gabon.com" target="_blank">
								<i class="fa fa-envelope"></i>
							</a>
						</li>
					</ul>
				</div>
				<!--end col -->
			</div>
			<!-- end row -->
		</div>
	</section>
	<!-- end top bar-->

	<!-- top bar start -->
	<section class="top-bar v4">
		<div class="container">
			<div class="row">
				<div class="col-md-7 align-self-center">
					<div class="ts-breaking-news clearfix">
						<h3 class="breaking-title float-left text-font">Actualités:</h3>
						<div class="breaking-news-content float-left" id="breaking_slider1">
							<div class="breaking-post-content  mx-5">
								<p>
									<a href="{{path('home')}}">
										Bienvenue sur le site officiel du Centre de Ressources pour la société
																						civile "AZOBE"</a>
								</p>
							</div>
							<div class="breaking-post-content  mx-5">
								<p>
									<a href="single-post-9.html">Appel à projets : plus de 113 millions de FCFA
																						pour le 2ème appel à projet Azobé dédié aux artisans</a>
								</p>
							</div>
							<div class="breaking-post-content mx-5">
								<p>
									<a href="https://ga.ambafrance.org/Signature-d-une-convention-de-partenariat-entre-l-Agence-francaise-de" target="_blank">
										Signature d’une convention de partenariat entre l’Agence française de
																						Développement (AFD) et Ogooué Labs pour...</a>
								</p>
							</div>
						</div>
					</div>
				</div>
				<!-- end col-->

				<div class="col-md-5 align-self-center">
					<div class="text-right xs-left">
						<div class="ts-date-item">
							Lundi, 01 février 2021</div>
					</div>

				</div>
				<!--end col -->


			</div>
			<!-- end row -->
		</div>
	</section>
	<!-- end top bar-->

	<!-- ad banner start -->
	<section id="header" role="banner">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="inner">
						<a href="{{path('home')}}" class="logo">Centre de Ressources pour la société civile</a>
						<div class="group-title">
							<strong class="title  text-uppercase">
								<a href="{{path('home')}}" title="Accueil">Centre de Ressources<br>pour la société civile</a>
							</strong>
						</div>
					</div>
				</div>
			</div>
			<!-- row  end -->
		</div>
		<!-- container end -->
	</section>
	<!-- ad banner end-->

	<!-- header nav start-->
	<header class="navbar-standerd nav-item border-bottom">
		<div class="container">
			<div
				class="row">

				<!-- logo end-->
				<div class="col-lg-12">
					<!--nav top end-->
					<nav class="navigation ts-main-menu ts-menu-sticky navigation-landscape">
						<div class="nav-header">
							<a class="nav-brand mobile-logo visible-xs" href="{{path('home')}}.html">
								<img src="assets/images/logo/azologo.png" alt="" width="120" height="120">
							</a>
							<div class="nav-toggle"></div>
						</div>
						<!--nav brand end-->

						<div
							class="nav-menus-wrapper clearfix">
							<!--nav right menu start-->
							<ul class="right-menu align-to-right">
								{% if app.user %}
									<li>
										<a href="{{path('app_logout')}}">
										<i class="fa fa-sign-out"></i>
										</a>
									</li>
								{% else %}
									<li>
									<a href="{{path('app_login')}}">
										<i class="fa fa-user"></i>
									</a>
								</li>
								{% endif %}
								<li class="header-search">
									<div class="nav-search">
										<div class="nav-search-button">
											<i class="icon icon-search"></i>
										</div>
										<form>
											<span class="nav-search-close-button" tabindex="0">✕</span>
											<div class="nav-search-inner">
												<input type="search" name="search" placeholder="Texte de recherche">
											</div>
										</form>
									</div>
								</li>
							</ul>
							<!--nav right menu end-->

							<!-- nav menu start-->
							<ul class="nav-menu">
								<li class="active">
									<a href="{{path('home')}}">Accueil</a>
								</li>
								<li>
									<a href="appel_projets.html">Appels à Projets</a>
								</li>
								<li class="">
									<a href="centre_ressources.html">Centre de Ressources</a>
									<!-- <ul class="nav-dropdown nav-submenu" style="right: auto; display: none;">
																					<li>class="submenu-indicator"
																						<a href="#">Etudes</a>
																					</li>
																					<li>
																						<a href="annuaires.html">Acteurs</a>
																					</li>
																					<li>
																						<a href="fds-document.html">Fonds Documentaires</a>
																				</ul> -->
								</li>
								<!--nav menu end-->
								<li>
									<a href="apropos.html">Qui sommes-nous</a>
								</li>
							</ul>
						</div>
					</nav>
					<!-- nav end-->
				</div>
			</div>
		</div>
	</header>
	<!-- header nav end-->
</div>

